<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h1>用户登录</h1>
<form th:action="@{/user/login}" method="post">
  <table>
    <tr>
      <td>用户名：</td>
      <td>
        <span th:text="${}"></span>
        <input type="text">
      </td>
    </tr>
    <tr>
      <td>密码：</td>
      <td>
        <input type="text">
      </td>
    </tr>
  </table>
  <input type="submit" value="提交"/>
  <input type="button" value="注册" onclick="location.href='../register'"/>
</form>
</body>
</html>