<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link th:href="@{/css/author.css}" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">语文项目</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav mr-auto my-2 my-lg-0 navbar-nav-scroll" style="max-height: 100px;">
                <li class="nav-item active">
                    <a class="nav-link" href="/index">首页 <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/chengyu">成语</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/page?dynasty=不限&pageNumber=0">作者</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/gbooks?book=首页">文献</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">知识图谱</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/daodejing/daodejing">老子</a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control mr-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </nav>

    <div class="container-fluid pageBox">
        <div class="row">
            <div class="col-8 m-auto">
                <div class="dynBox">
                    <div class="dynDisp">
                        <h3 th:text = "${curr_dynasty}"></h3>
                    </div>
                    <hr class="my-4">
                    <div>
                        <a class="dynspan" th:each="dynasty: ${dynasty_list}" th:text="${dynasty}" th:href="@{'/page?dynasty='+${dynasty}+'&pageNumber='+${currPage-1}}"></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-8 m-auto">
                <div class="row">

<!--                    <div class="col-6">-->
<!--                        <div class="authorBox">-->
<!--                            <div class="cont">-->
<!--                                <div class="divImg">-->
<!--                                    <img th:src="@{/img/libai.jpg}" width="105" height="150" alt="pic load failed"/>-->
<!--                                </div>-->
<!--                                <p>李白bai</p>-->
<!--                                <p>李白（701年－762年） ，字太白，号青莲居士，又号“谪仙人”，唐代伟大的浪漫主义诗人，被后人誉为“诗仙”，与杜甫并称为“李杜”，为了与另两位诗人李商隐与杜牧即“小李杜”区别，杜甫与李白又合称“大李杜”。据《新唐书》记载，李白为兴圣皇帝（凉武昭王李暠）九世孙，与李唐诸王同宗。其人爽朗大方，爱饮酒作诗，喜交友。李白深受黄老列庄思想影响，有《李太白集》传世，诗作中多以醉时写的，代表作有《望庐山瀑布》《行路难》《蜀道难》《将进酒》《明堂赋》《早发白帝城》等多首。</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->


                    <div class="col-6" th:each="author : ${authors}">
                        <div class="authorBox">
                            <div class="cont">
                                <div class="divImg">
                                    <img th:src="${author.getAuthor_pic()}" width="105" height="150" alt="pic load failed"/>
                                </div>
                                <p th:text="${author.getAuthor_name()}"></p>
                                <p th:text="${author.getAuthor_intro()}"></p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <div class="row" th:if="${maxPage} le 1">
            <div class="col-8 m-auto">
                <h1>暂无数据</h1>
            </div>
        </div>

        <div class="row navbar" th:if="${maxPage} ge 0">
            <div class="col-8 m-auto">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">>
                        <li class="page-item" th:if="${currPage} ge 1"><a class="page-link" th:href="@{'/page?dynasty='+${curr_dynasty}+'&pageNumber='+${currPage-1}}">上一页</a></li>
                        <li class="page-item" th:if="${currPage} ge 5"><a class="page-link" href="#">...</a></li>
                        <li th:each="num : ${rangeList}" class="page-item"><a class="page-link" th:href="@{'/page?dynasty='+${curr_dynasty}+'&pageNumber='+${num}}" th:text="${num}"></a></li>
                        <li class="page-item" th:if="${currPage} le ${maxPage} - 5"><a class="page-link" href="#">...</a></li>
                        <li class="page-item" th:if="${currPage} le ${maxPage}"><a class="page-link" th:href="@{'/page?dynasty='+${curr_dynasty}+'&pageNumber='+${currPage+1}}">下一页</a></li>
                    </ul>
                </nav>
            </div>
        </div>

        <h1> this is author page</h1>
        <p> ECNU NLP pppp</p>
        <div id="test"></div>
        <button id="btn">点击</button>

    </div>
</body>
</html>
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript">
    //获取basePath，测试的话就能用就完了
    // $(document).ready(function(){
    //     alert('弹出对话框.');
    // });
    $("#btn").on("click", function(){
        $.ajax({
            url: "/dynastycount",
            type: "post",
            data: {
                pageNum: 5,
                dynasty: "a"
            },
            success: function(data){
                $("#test").html(data);
            }
        })
    });
</script>